google-auth
google-auth-oauthlib
google-api-python-client
langchain
openai
python-dotenv
slack_bolt
pyowm
yfinance
youtube_search
pydantic-settings
pytest
fastapi
streamlit
langchain-anthropic
langchain-openai
pytest-asyncio
langchain-google-genai
langchain-community
langgraph
uvicorn
pinecone
ruff